<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ruckerpark.Properties.Settings.ruckerparkConnectionString"
      connectionString="Data Source=.;Initial Catalog=new_ruckerpark;Persist Security Info=True;User ID=sa;Password=061284"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="connectionstring" value="server=.;uid=sa;database=new_ruckerpark;Password=061284" />
    <add key="uid" value="sa" />
    <add key="pwd" value="hoopchinabtl" />
    <add key="database" value="new_ruckerpark" />
    <add key="court" value="3" />
    <add key="am" value="2|4|4|0.4" />
    <add key="pm" value="3|6|6|0.5" />
    <add key="holiday" value="3|6|6|0.5" />
    <add key="team_am" value="40" />
    <add key="team_pm" value="50" />
    <add key="team_holiday" value="60" />
    <add key="holiday_list" value="11,12,13,51,52,53,101,102,103,104,105,106,107,108" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!--20130502开始重构-->
    <add key="min_money" value="20"/><!--最低消费-->
    <add key="max_money" value="999"/>
    <add key="discount" value="1"/>
    <add key="cph" value="10"/><!--每小时收费-->
    <add key="hy_min_money" value="0"/>
    <add key="hy_max_money" value="30"/>
    <add key="hy_discount" value="1"/>
    <add key="hy_cph" value="10"/><!--每小时收费-->
    <add key="hasTopMoney" value="true"/>
    <add key="key_hour" value=""/><!--分时计费的时间点-->
    <add key="deposit" value="30"/><!--押金-->
    <add key="gobacktime" value="2"/><!--反悔时间-->
    <!--20130502开始重构-->
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>