<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ruckerpark.Properties.Settings.ruckerparkConnectionString"
      connectionString="Data Source=.;Initial Catalog=ruckerpark;Persist Security Info=True;User ID=sa;Password=hoopchinabtl"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="connectionstring" value="server=.;uid=sa;database=ruckerpark;Password=hoopchinabtl" />
    <add key="uid" value="sa" />
    <add key="pwd" value="hoopchinabtl" />
    <add key="database" value="ruckerpark" />
    <add key="court" value="3" />
    <add key="am" value="2|4|4|0.4" />
    <add key="pm" value="3|6|6|0.5" />
    <add key="holiday" value="3|6|6|0.5" />
    <add key="team_am" value="40" />
    <add key="team_pm" value="50" />
    <add key="team_holiday" value="60" />
    <add key="holiday_list" value="11,12,13,51,52,53,101,102,103,104,105,106,107,108" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>